{# templates/index.html.twig #}

{% extends 'base.html.twig' %}

{% block javascripts %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://js.pusher.com/5.1/pusher.min.js"></script>
    <script src="./js/wheatherstack/index.js"></script>
    <script>
        //hago que se renderize cada 1 minuto
        setInterval($('#wheater').WeatherStack(),10000);
        

        Pusher.logToConsole = true;

        var pusher = new Pusher("{{ pusherKey }}", {
            cluster: "{{ pusherCluster }}",
        });

        var channel = pusher.subscribe('turnos-channel');

        channel.bind('actualizar', function(data) {  
            console.log(data);
            document.getElementById('total_personas').textContent = data[0].total_personas;
            document.getElementById('total_atendidos').textContent = data[0].total_atendidos;
            document.getElementById('total_no_atendidos').textContent = data[0].total_no_atendidos;
        });

    </script>


{% endblock %}

{% block body %}
    
    <div class="barra-superior">
        <div class="block-barra-superior">
            <div id="titulo">Sistema de Turnos</div>
            <div id="wheater"></div> 
        </div>        
    </div>

    <div class="container">   

        <div class="row justify-content-md-center">
            <div class="col-sm" align="center">
                <div class="texto-contador" align="center">Total</div>
                <div class="contador" alt="Cantidad de personas que solicitaron un turno">
                    <div class="numero-contador"><p align="center" id="total_personas">{{ total_personas }}</p></div>
                </div>
                
            </div>
            <div class="col-sm" align="center">
                <div class="texto-contador" align="center">Atendidos</div>
                <div class="contador" alt="Cantidad Atendidos">
                    <p class="numero-contador" align="center" id="total_atendidos">{{ total_atendidos }}</p>
                </div>
                
            </div>
            <div class="col-sm" align="center">
                <div class="texto-contador" align="center">Faltantes</div>
                <div class="contador" alt="Cantidad no atendidos">
                    <p class="numero-contador" align="center" id="total_no_atendidos">{{ total_no_atendidos }}</p>
                </div>
                
            </div>
        </div>

    </div>

{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="./css/weatherstack/main.css" >

<style>
p{
    margin:0;
    padding: 0;
}

@media screen and  (min-width: 600px) {

    #titulo{
        margin: 0;
        color:white;
        font-size:6vh;
        float: left;
    }
    #wheater{
        float: right;
    }
    .container-fluid{
        margin: 0;
        padding: 0;
    }
    .barra-superior{
        height:20vh;
        background-color: #406f99;
        opacity: .9;
        margin-bottom: 4vh;
    }   

    .contador{
        width:30vh;
        height: 30vh;    
        border-radius: 50%;
        background-color: #333;
        opacity: .9;
        color: #fff;
        -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.91);
        -moz-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.91);
        box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.91);
        
    }
    .numero-contador{
        text-align: center;
        font-size: 10vh;
        line-height: 30vh;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        
    }
    .texto-contador{
        text-align: center;
        font-size: 6vh;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        
        opacity: 1;
        color: #000;
    }    
}
@media only screen and (max-width: 600px) {
    #titulo{
        margin: 0;
        color:white;
        font-size:6vh;
        text-align: center;
        margin-bottom: 4vh;
    }

        .container-fluid{
        margin: 0;
        padding: 0;
    }
    .barra-superior{
        height:20vh;
        background-color: #406f99;
        opacity: .9;
        margin-bottom: 4vh;
    }   

    .contador{
        width:17vh;
        height: 17vh;    
        border-radius: 50%;
        background-color: #333;
        opacity: .9;
        color: #fff;
        -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.91);
        -moz-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.91);
        box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.91);
        display: inline-block;        
    }
    .numero-contador{
        text-align: center;
        font-size: 6vh;
        line-height: 17vh;  
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);        
    }
    .texto-contador{
        text-align: center;
        font-size: 5vh;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);        
        opacity: 1;
        color: #000;
    }    

    /* Weather */
    #wheather{
        float: none;
    }
    .weather-container{
        display: inline-block;
    }
    .weather-location{
        font-size: 3vh;
        float: left;
        width: 90%;
        margin-left: 2%;
    }
    .weather-container-data{        
        float: right;
        width: 6%;
    }
    .weather-container-data-right{
        display: none;
        
    }
    .weather-container-data-left{
        font-size: 3vh;
    }


}
</style>
{% endblock %}